@import "../omarchy/current/theme/waybar.css";

* {
  background-color: transparent;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 14px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 3px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#cpu,
#memory,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#custom-perf,
#custom-screenrecording-indicator,
#custom-update {
  margin-right: 8px;
  min-width: 20px;
}

#custom-perfmon {
  font-size: 20px;
  background-color: red;
  background-image: url("/home/joao/.config.jmmm.sh/dotfiles/waybar/perf.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#custom-activity {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 0.75rem;
  margin-left: 1rem;
  border-radius: 0.25rem;
}

#custom-expand-icon {
  margin-right: 2px;
}

tooltip {
  padding: 2px;
  border: 1px solid @border;
  background-color: @background;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
